<nav class="navbar navbar-static-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header navbar__logo">
      <a ui-sref="main">
        <img alt="{{ "app_title" | translate }}" src="assets/images/logo.png" height="60" />
      </a>
    </div>

    <div>
      <ul class="nav navbar-nav navbar-right navbar__languages">
        <li ng-class="{ active: main.use() === 'en' }">
          <a ng-click="main.use('en')">
            English
          </a>
        </li>
        <li ng-class="{ active: main.use() === 'de' }">
          <a ng-click="main.use('de')">
            Deutsch
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
