.main
  navbar
  .main__vehicles(ng-if="'main.form' | isState")
    .main__vehicles__item(ng-repeat="vehicle in main.vehicles")
      pre {{ vehicle | json }}    
  .container(ui-view)
    .main__welcome-screen(ng-hide="'main.form' | isState")
      h2.main__welcome-screen__heading Kostenrechner
      .main__welcome-screen__body
        p.lead {{ lorem }}
      p.main__welcome-screen__footer
        a.btn.btn-primary.btn-md(ui-sref="main.form") Start by adding a car
        =" or "
        a look a the defaults visualisation
