.main {

  margin-top:@navbar-height;


  &__vehicles {
    position: fixed;
    left:0;
    top:@navbar-height;
    bottom:0;
    width:220px;
    padding:20px;
    background:@panel-default-border;
    .transition(0.6s translate);

    &.ng-hide {
      .translate(-110%, 0);
    }

    &__item {
      width:220px - (2px * 20px);
      display: inline-block;
      margin-right:20px;
    }

    @media (max-width: @screen-md-max) {
      width:100%;
      position:static;

      &.ng-hide {
        .translate(0, -110%);
      }
    }
  }

  &__welcome-screen {

    margin-top:20px;

    &__body, &__heading {
      background:@panel-bg;
      padding:15px 20px;
      margin:0;
    }

    &__footer {
      border-top:2px solid darken(@body-bg, 10);
      background:@panel-default-border;
      padding:15px 20px;
    }
  }

}
