.main
  navbar
  .main__vehicles(ng-show="( ('main.form' | isState) || ('main.chart' | isState)  ) && main.vehicles.length")
    .main__vehicles__item(ng-repeat="vehicle in main.vehicles")
      .main__vehicles__item__heading Vehicle {{ $index + 1 }}
      .main__vehicles__item__body
        pre {{ vehicle | json }}    
  .container(ui-view)
    .main__welcome-screen(ng-hide="'main.form' | isState")
      h2.main__welcome-screen__heading Kostenrechner
      .main__welcome-screen__body
        p.lead {{ lorem }}
      p.main__welcome-screen__footer
        a.btn.btn-primary.btn-md(ui-sref="main.form") Start by adding a car
        =" or "
        a look a the defaults visualisation
