.main
  navbar
  div(ui-view)
    .main__welcome-bg
    .container
      .main__welcome-screen
        h2.main__welcome-screen__heading {{ "welcome_title" | translate }}
        
        .main__welcome-screen__body
          p.lead(ng-bind-html="'under_construction_description' | translate")
          
        p.main__welcome-screen__footer
        