.main {

  margin-top:@navbar-height;


  &__vehicles {
    position: fixed;
    left:0;
    top:@navbar-height;
    bottom:0;
    width:220px;
    padding:20px;
    background:@panel-default-border;
    overflow: auto;
    .transition(0.6s transform);
    &:extend(.clearfix all);

    &.ng-hide {
      .translate(-110%, 0);
    }

    &__item {
      width:220px - (2px * 20px);
      display: inline-block;
      margin-right:10px;
      margin-bottom: 10px;
      float:left;
      background:@panel-bg;
      border-radius: @border-radius-large;
      font-size:0.9em;
      .transition(0.6s);

      &.ng-leave.ng-leave-active,
      &.ng-move,
      &.ng-enter {
        opacity:0;
        .scale(0);
      }

      &.ng-leave,
      &.ng-move.ng-move-active,
      &.ng-enter.ng-enter-active {
        opacity:1;
        .scale(1);
      }

      &__heading {
        text-align: center;
        font-weight:bold;
        color: @brand-secondary;
        text-transform: uppercase;
        padding:5px;
        border-bottom:@panel-default-border 1px solid;
        position: relative;

        &__actions {
          position:absolute;
          right:5px;
          top:50%;
          .translate(0, -50%);
        }
      }

      &__body {
        padding:0;
        margin:0;
      }
    }

    &__add-item {
      width:220px - (2px * 20px);
      background: @brand-primary;
      color: white;
      display: inline-block;
      padding:25px 20px;
      margin-bottom: 10px;
      text-align: center;
      cursor: pointer;
      border-radius: @border-radius-large;
      .transition(0.6s);

      &.ng-hide {
        opacity:0;
        .scale(0);
      }

      &:hover {
        text-decoration: none;
        color: white;
      }
    }

    @media (max-width: @screen-md-max) {
      width:100%;
      position:static;

      &.ng-hide {
        .translate(0, -110%);
      }

      &__item {
        margin-bottom: 0;
      }
    }
  }

  &__welcome-screen {

    margin-top:20px;

    &__body, &__heading {
      background:@panel-bg;
      padding:15px 20px;
      margin:0;
    }

    &__footer {
      border-top:2px solid darken(@body-bg, 10);
      background:@panel-default-border;
      padding:15px 20px;
    }
  }

}
