.main
  navbar
  div(ui-view)
    .container
      .main__welcome-screen
        h2.main__welcome-screen__heading Kostenrechner
        .main__welcome-screen__body
          p.lead {{ lorem }}
        p.main__welcome-screen__footer
          a.btn.btn-primary.btn-md(ui-sref="main.form") Start by adding a car
          =" or "
          a look a the defaults visualisation
  .main__vehicles(ng-show="('main.form.*' | includedByState) && main.vehicles.length || ('main.chart.*' | includedByState)")
    .main__vehicles__item(ng-repeat="vehicle in main.vehicles")
      .main__vehicles__item__heading(ng-style="{ background: vehicle.color }")
        .main__vehicles__item__heading__color
        .main__vehicles__item__heading__actions
          button.btn.btn-xs.btn-link(ng-click="main.removeVehicle($index)")
            i.fa.fa-trash
            span.sr-only Remove
        | Vehicle {{ $index + 1 }}      
      table.table.table-condensed.table-striped.main__vehicles__item__body
        tbody
          tr(ng-repeat="setting in main.listedSettings | filter:main.hasNoParent | limitTo:4")
            td {{ setting.label }} 
            td 
              strong {{ vehicle[setting.name] }}
    a.main__vehicles__add-item(ng-show="('main.chart.*' | includedByState) && main.vehicles.length < 2", ui-sref="main.form")
      i.fa.fa-plus
      div Add a vehicle
