.main__vehicle {

  background: @panel-bg;

  &__heading, &__heading > * {
    color:white;
    font-weight: bold;
    text-align: center;
    font-size:1.1em;
    text-transform: uppercase;
  }

  &__group  {
    background:white;
    margin:10px;
    border:1px solid @table-border-color;
    border-bottom-width:2px;

    &__title {
      font-size:1.05em;
      font-weight: bold;
    }

    &__table {
      margin:0;

      &__info {
        margin-left:5px;
        color:#aaa;
        border:2px solid #aaa;
        width:16px;
        height:16px;
        line-height: 13px;
        text-align: center;
        display: inline-block;
        border-radius:16px;
      }
    }
  }
}
