.main__chart {
  padding:20px;
  max-width:@screen-sm;
  margin:auto;

  &__nav {
    padding-top:20px;
    float:right;

    @media print {
      display: none !important;
    }

    @media (max-width: @screen-md-max) {
      float:none;
    }
  }

  &__view {
    margin-top:20px;
    padding:20px;
    border:1px solid @panel-default-border;
    border-bottom-width:2px;

    &__workspace {
      background:@panel-bg;
      border-bottom: 2px solid @panel-default-border;

      .c3-tooltip-container {
        @media print {
          display: none !important;
        }
      }

      .c3 svg {

        font-family: @font-family-base;


        .c3-lines[class*="-pro"],
        .c3-lines[class*="-contra"] {
          opacity:0;
        }

        .c3-lines[class*="-mittel"] path {
          stroke:fade(#000, 40) !important;
        }

        .c3-axis {
          text {
            fill: @text-muted;
            color: @text-muted;
          }

          line, path {
            stroke: @text-muted;

          }

          &-y .domain, &-y .tick line {
            stroke: transparent;
            fill: transparent;
          }
        }

        .c3-ygrid, .c3-axis-x .domain, .c3-axis-x .tick line {
          stroke:#ccc;
        }

        .d3-chart-area {
          fill-opacity:0.2;
          stroke-width:0;

          &:hover {
            fill-opacity:0.6 !important;
          }
        }
      }
    }

    &__options {
      margin-top:10px;
    }
  }

  &__share {
    padding:10px;
    border:1px solid @panel-default-border;
    border-bottom-width:2px;
    margin-top:20px;
    width:calc(~"100% - 80px");

    @media print {
      width:100%;
    }

    input[readonly] {
      background:@input-bg;
      text-decoration: underline;
      color:@link-color;
      cursor:pointer;
      margin-top:5px;
    }
  }

  &__print {
    cursor: pointer;
    margin-top:20px;
    float:right;
    padding:15px 15px 18px;
    border:1px solid @panel-default-border;
    border-bottom-width:2px;

    @media print {
      display: none;
    }
  }
}
