.main__chart {
  padding:20px;
  max-width:@screen-sm;
  margin:auto;

  &__nav {
    padding-top:20px;
  }

  &__view {
    margin-top:20px;
    border:1px solid @panel-default-border;
    border-bottom-width:2px;
  }
}
