.main__chart
  ul.main__chart__nav.nav.nav-pills.pull-right(role="navigation")
    li(ui-sref-active="active")
      a(ui-sref="main.chart.tco({ type: 'spline' })")
        | {{ "tco_trend_btn" | translate }}
    li(ui-sref-active="active")
      a(ui-sref="main.chart.tco({ type: 'bar' })")
        | {{ "tco_sharing_btn" | translate }}
    li(ui-sref-active="active")
      a(ui-sref="main.chart.co2")
        | {{ "co2_btn" | translate }}
  h2.main__chart__heading {{ "tco_title" | translate }}    
  .main__chart__view(ng-view)
    .main__chart__view__workspace
      chart(x="chart.xAxis", y="chart.yAxis", type="chart.type", 
            vehicles="main.vehicles", 
            processor="main.processor")
    
    .row.main__chart__view__options.slide(ng-hide="chart.type === 'bar'")
      .col-xs-12
        label Horizontal axis
        select.form-control(ng-options="opt.name as (opt.label | translate) for opt in chart.xAxisOptions", 
                            ng-model="chart.xAxis", ng-disabled="chart.type === 'bar'")
    .main__chart__view__explainer(translate="")
      | {{ chart.getExplainer() }}
  
  a.main__chart__print(ng-click="chart.print()")
    i.fa.fa-print.fa-3x
    span.sr-only  {{ "print" | translate }}
    
  label.main__chart__share
    | {{ "link_to_visualization" | translate }}
    input.form-control(type="text", select-on-click, readonly, ng-value="chart.permalink")
