.main__chart
  .row
    .col-md-5
      h2.main__chart__heading {{ "tco_title" | translate }}
    .col-md-7
      ul.main__chart__nav.nav.nav-pills(role="navigation")
        li(ui-sref-active="active")
          a(ui-sref="main.chart.tco({ type: 'spline' })")
            | {{ "tco_trend_btn" | translate }}
        li(ui-sref-active="active")
          a(ui-sref="main.chart.tco({ type: 'bar' })")
            | {{ "tco_sharing_btn" | translate }}
        li(ui-sref-active="active")
          a(ui-sref="main.chart.co2")
            | {{ "co2_btn" | translate }}
  .main__chart__view(ng-view)
    .main__chart__view__workspace
      chart(x="chart.xAxis", y="chart.yAxis", type="chart.type", vehicles="main.vehicles", processor="main.processor")
    .main__chart__view__select-x-axis.slide(ng-show="chart.type === 'spline'")
      select.form-control(ng-options="opt.name as (opt.label | translate) for opt in chart.xAxisOptions", ng-model="chart.xAxis")
  
  label.main__chart__share
    | {{ "link_to_visualization" | translate }}
    input.form-control(type="text", select-on-click, readonly, ng-value="chart.permalink")
